.place__title {
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    align-self: end;
    margin: 0;
    width: 100%;
    font-size: 72px;
    line-height: 1.06;
  }

@media screen and (max-width: 650px){
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
  }
}

@media screen and (min-width: 650px) and (max-width: 900px){
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

