@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  margin: 0 auto 92px;
  width: calc(100% - 48px*2);
  max-width: 984px;
  }

@media screen and (min-width: 650px) and (max-width: 900px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 650px) {
  .lead {
    width: 100%;
    margin-bottom: 64px;
  }
}