@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);

.header {
  display: flex;
  margin: 0 auto 48px;
  width: calc(100% - 48px*2);
  max-width: 1184px;
  align-items: flex-end;
}

@media screen and (max-width: 650px) {
  .header {
    width: calc(100% - 16px*2);
  }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 56px;
  }
}