@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro { 
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 48px*2);
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (max-width: 650px) {
  .intro {
    width: calc(100% - 16px*2);
    margin: 0 auto 64px;
  } 
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .intro {
    width: calc(100% - 24px*2);
    margin: 0 auto 88px;
  }
}


