@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  height: 62.5vw;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto 92px;
  }

@media screen and (min-width: 650px) and (max-width: 900px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 650px) {
  .cover {
    margin-bottom: 64px;
  }
}